:root {
    --primary-color: #03a9f4;
}

.edit-check {
    margin-left: 5px;
}

.check1 {
    margin-right: 20px;
}

.home {
    background-color: aqua;
    color: blue;
}

.text-menu {
    font-size: larger;
    font-weight: 400;
}

.form-box {
    padding-left: 50px;
    padding-right: 100px;
}

.tab-result {
    margin-right: 50%;
}

.font-error {
    font-size: medium;
    color: red;
}
